<%- include("../partials/header") %>

<div class="banner">
    <div class="userdetail">
        <div class="row">
            <img src="<%= user.avatar %> " alt="">
        </div>
        <div class="user-header row">
            <p><%= user.username %></p>
        </div>
        <div class="user-desc row">
            <p><%= user.description %></p>
        </div>
    </div>

</div>

<div class="content">
    <div class="container home-body">
        <div class="row">
            <% posts.forEach(function (post) {%>
            <div class="col-lg-4 col-md-6">
                <div class="card card-plain card-blog">
                    <div class="card-image">
                        <a href="/posts/<%= post.id %>">
                            <img class="img rounded img-raised" src="<%= post.image %>">
                        </a>
                    </div>

                    <div class="card-body">
                        <span class="post-date"><%= moment(post.creationdate).fromNow() %></span>
                        <h4 class="card-title">
                            <a href="/posts/<%= post.id %>"><%= post.title %></a>
                        </h4>
                        <div class="card-description">
                            <p>
                                <%- post.content.substring(0,100)%>...
                            </p>
                            <a href="/posts/<%= post.id %>" class="read-btn"> Oku </a>
                        </div>
                    </div>
                </div>
            </div>
            <%}); %>
        </div>
    </div>

</div>


<%- include("../partials/footer") %>